<li><a href="https://mail-search.apache.org/">Mail Search</a></li>
<li><a href="https://people.apache.org/committer-index.html">Committers by id</a></li>
<li><a href="https://svn.apache.org/repos/private/documents/">Documents</a></li>
<li><a href="https://whimsy.apache.org/board/subscriptions/">Board Subscriptions</a></li>
<li><a href="https://id.apache.org/info/MailAlias.txt">Mail aliases</a></li>
<li><a href="https://svn.apache.org/repos/private/foundation/members.txt">Member list</a></li>
<li><a href="<%= url('secretary/howto')%>">How to use this tool</a></li>
